.imgnavbar{
    margin-left: 600px;
    animation: heartBeat; 
    animation-duration: 5s;
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
    animation: fadeInDown; 
    animation-duration: 10s;
}
li{
    list-style: none;
}

.container{
    background-image: url(./image//background.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    animation: zoomInUp; 
    animation-duration: 5s;
}
.text1{
    margin-left: 200px;
    margin-top: 100px;
}
.p1{
    width: 550px;
    margin-left: 200px;
}
.btn1{
    background: rgb(192, 192, 192);
    border: none;
    padding: 10px 20px 10px 20px;
    margin-left: 200px;
    animation: shakeX; 
    animation-duration: 15s;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    animation: flash; 
    animation-duration: 15s;
}
.text2{
    margin-left: 40px;
}
.p2{
    width: 250px;
}
.text3{
    margin-left: 20px;
}
.p3{
    width: 250px;
}
.text4{
    margin-left: 20px;
}
.p4{
    width: 300px;
}
.container2{
    background-image: url(./image/video.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}
.p5{
    width: 450px;
    margin-left: 700px;
    margin-top: 50px;
}
 
.p6{
    margin-top: 30px;
}
.imgcont3{
    margin-top: 100px;
    animation: slideInRight; 
    animation-duration: 40s;
}

.p7{
    margin-top: 30px;
    width: 450px;
}
.imgcont4{
    margin-top: 100px;
    animation: slideInRight; 
    animation-duration: 40s;
}
.btn2{
    background: rgb(192, 192, 192);
    border: none;
    padding: 10px 20px 10px 20px;
    animation: shakeX; 
    animation-duration: 50s;
}
.text7{
    margin-top: 150px;
    margin-left: 200px;
}
.p8{
    width: 500px;
    margin-left: 200px;
}
.imgmap{
    width: 800px;
    margin-left: 250px;
    margin-top: 50px;
    animation: zoomIn;
    animation-duration: 70s;
}
.p9{
    text-align: center;
    margin-top: 50px;
}
.text8{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
h3{
    color: white;
}
.p10{
    color: white;
    width: 300px;
}
.imgfooter{
    margin-left: 5px;
}

@media(min-width: 360px) and (max-width: 599px){

    .container, .container1, .container2, .container4, .container5,.container6,.container7,.container8{
        width: 1200px;
    }
    .imgnavbar{
        width: 300px;
        margin-left: 400px;
    }
    ul{
        flex-direction: column;
        margin-left: 400px;
    }
    li{
        font-size: 50px;
    }
    .text1{
        font-size: 150px;
        margin-left: 150px;
    }
    .p1{
        font-size: 40px;
        width: 700px;
        margin-left: 250px;
    }
    .btn1{
        font-size: 40px;
        margin-left: 400px;
        margin-top: 50px;
    }
    .boxes{
        flex-direction: column;
    }
    .box1{
        margin-left: 300px;
    }
    .text2{
        font-size: 150px;
    }
    .p2{
        font-size: 50px;
        width: 700px;
    }
    .box2{
        margin-left: 300px;
    }
    .text3{
        font-size: 100px;
    }
    .p3{
        font-size: 50px;
        width: 600px;
    }
    .box3{
        margin-left: 300px;
    }
    .text4{
        font-size: 100px;
    }
    .p4{
        font-size: 50px;
        width: 650px;
    }
    .p5{
        font-size: 40px;
        width: 700px;
        margin-left: 400px;
    }
    .text5{
        font-size: 80px;
        margin-left: 130px;
    }
    .p6{
        font-size: 50px;
        margin-left: 260px;
    }
    .imgcont3{
        width: 600px;
        margin-left: 300px;
    }
    .imgcont4{
        width: 600px;
        margin-left: 300px;
    }
    .text6{
        font-size: 80px;
        margin-left: 130px;
    }
    .p7{
        font-size: 50px;
        margin-left: 160px;
        width: 900px;
    }
    .btn2{
        font-size: 40px;
        margin-left: 400px;
        margin-top: 50px;
    }
    .text7{
        font-size: 120px;
        margin-left: 250px;
    }
    .p8{
        font-size: 50px;
        margin-left: 260px;
        width: 800px;
    }
.p9{
    margin-left: 500px;
    font-size: 50px;
}
.text8{
    font-size: 80px;
    width: 900px;
    margin-left: 150px;
}

h3{
    font-size: 40px;
}
.p10{
    font-size: 25px;
}
    

}



@media (min-width: 600px) and (max-width: 1280px){

    ul{
        display: flex;
    }
    .container,.container1, .container2, .container6, .container7, .container8{
        width: 1300px;
    }
   
}